#auditWrap
	#auditClose
		span.fa.fa-close
<<<<<<< HEAD


=======
>>>>>>> dceae5cf9418cba904df6c0794267043352f7919
	#auditContentWrap
		.leftTxWrap
			#auditLegend AUDIT
			#marbleIdWrap 
				span Marble
				div#marbleId -
<<<<<<< HEAD
				//- - var text = '/imgs/person.jpg'
				//- div # {text}
			//span.ball.largeMarble.bluebg.auditMarble
			img(src = '/imgs/person.jpg' width="80px")
			span 
			span.fa.updateMarble 修改
=======
			span.ball.largeMarble.bluebg.auditMarble
>>>>>>> dceae5cf9418cba904df6c0794267043352f7919

		.txHistoryWrap
			.auditHint Click a Marble to Audit Its Transactions