#auditWrap
	#auditClose
		span.fa.fa-close


	#auditContentWrap
		.leftTxWrap
			#auditLegend AUDIT
			#marbleIdWrap 
				span Marble
				div#marbleId -
				//- - var text = '/imgs/person.jpg'
				//- div # {text}
			//span.ball.largeMarble.bluebg.auditMarble
			img(src = '/imgs/person.jpg' width="80px")
			span 
			span.fa.updateMarble 修改

		.txHistoryWrap
			.auditHint Click a Marble to Audit Its Transactions