#auditWrap
	#auditClose
		span.fa.fa-close

	#auditContentWrap
		.leftTxWrap
			#auditLegend AUDIT
			#marbleIdWrap 
				span Student
				div#marbleId -
				//- - var text = '/imgs/person.jpg'
				//- div # {text}
			//- span.ball.largeMarble.bluebg.auditMarble
			img(src = '/imgs/2.jpg' width="80px")
			span 
			span.fa.updateMarble 修改
			//- span.fa.updateCert 修改

		.txHistoryWrap
			.auditHint Click a Marble to Audit Its Transactions